/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/
body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */
main {
    padding: 2vw;
}

/* logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: 24px;
    margin-left: 5px;
}

/* navigation styling */
header {
    background-color:#3D9C06;
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
}

nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background-color: #3D9C06;
    width: 100%;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {
    color:#02006E;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}

nav a:hover {
    color: #000000;
}


/* media query for mobile nav bar */
@media screen and (max-width: 960px) {

}
/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 60rem) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display:flex;
        justify-content: space-between;
    }
}