/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color:#3D9C06;
    color:#02006E;
    font-size: 18px;
    margin-bottom: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}


/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: 24px;
    margin-left: 5px;
}

/* navigation list */
.navbar-links li {
    list-style: none;
    display: block;
    padding: 10px 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a{
    display: inline-block;
    color:#02006E;
    background-color: #3D9C06;
    font-size: 2rem;
    padding: 0.5rem 0.5rem;
    letter-spacing: 2px;
    text-decoration: none;
}

.navbar-links a:hover, .navbar-links a:focus{
    background-color: #02006E;
    color:#3D9C06;
    border-radius: 10px;
    outline: none;
}

/* CSS for Mobile Nav Bar */
body {
    font-family: Roboto;
    font-weight: 700;
    color: #000000;
    height: 100vh;
}

.nav {
    border-bottom: 1px solid gray;
}

.nav-toggle {
    position: absolute;
    cursor: pointer;
    margin: 0rem 1rem;
    right: 0;
}

svg {
    width: 1.5rem;
}

.close {
    display: none;
}

.menu {
    margin-top: 0.2rem;
}

.nav-checkbox{
    display: none;
}

.nav-menu{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
}

li {
    list-style: none;
}

.nav-menu:first-child {
    margin-right: auto;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
}

/* media query for mobile nav bar */
@media screen and (max-width: 960px) {
    .navbar 
}
/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/
@media screen and (min-width: 60rem) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul {
        display:flex;
        justify-content: space-between;
    }
}