/* make scrolling smooth */
html {
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main {
    padding: 2vw;
}

/* navbar */

.navbar {
    background-color:#3D9C06;
    color:#02006E;
    font-size: 18px;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}


/* logo */

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 6vw;
    width: 6vw;
}

.logo h1 {
    font-size: 24px;
}

/* navigation list */
.navbar-links li {
    list-style: none;
    display: block;
    padding: 10px 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links a{
    display: inline-block;
    color:#02006E;
    background-color: #3D9C06;
    font-size: 18px;
    padding: 0.5rem 0.5rem;
    letter-spacing: 2px;
    text-decoration: none;
}



/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/