body {
    font-family: Roboto;
    background-color: #2C8271;
    color: #000000;
}

h1, h3, h4, h5, h6 {
    font-family:"Quicksand";
    font-size: 45pt;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    font-family: "Quicksand";
    font-size: 35pt;
    text-align: center;
    padding-bottom: 3px;
    margin: .1em;
}

/* Introduction Section */
#introduction {
    background-color: #4547F5;
    border: 5px solid black;
    color:#fff;
    padding: 0.5rem 0.5rem;
    margin: 20px;
}

#introduction h1 {
    margin: 5px;
}

#introduction h6 {
    font-size: 18px;
    margin: 5px;
}

#introduction img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
}

/* Bio Section */
#biography {
    text-align: center;
    font-size: 16px;
    background-color: cornflowerblue;
    border: 5px solid #02006E;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#biography img {
    border: 5px double #02006E;
}

/* Hobbies Section*/ 
#hobbies {
    font-style: italic;
    background-color:#81CDFF;
    border: 7px solid #1a4600;
    border-radius: 10px;
    margin-bottom: 20px;
}

#hobbies ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 18px;
    text-decoration: underline; 
    list-style: none;
}

#hobbies hr {
    border: 1px dashed #000000;
}

#hobbies img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #000000;
}

#hobbies p {
    text-align: center;
    font-size: 18px;
}

/* Gallery Section */
#gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    background-color:#C74C98;
    border: 5px solid #02006E;
    border-radius: 5px; 
    box-shadow: 6px 6px #cf2b4f;
    margin-bottom: 20px;
}

#gallery figure {
    background-color: #8889FA;
    overflow: auto;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

#gallery figcaption {
    text-align: center;
    font-style: italic;
    font-size: 18px;
}

.pictureframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    background-color:#8889FA;
    margin-bottom: 25px;
}

/* Blog Section */
#blog {
    background-color: #1a4600;
    color: #EDF4FF;
    border: 6px solid #02006E;
    border-radius: 5px;
    box-shadow: 6px 6px #fff;
    margin-bottom: 20px;
}

#blog div {
    max-width: 580px;
    margin: 0 auto;
    font-weight: lighter;
    border: 5px double #000000;
}

#blog div p:first-child::first-letter {
    color:#02006E;
    background-image:radial-gradient(#fff, #4547F5);
    float: left;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 0.25em;
    line-height: 0.65;
    border: 4px outset #02006E;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

/* Video Section */

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 90%;
    width: 100%;
}

#myvideo figcaption {
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    border: 3px solid #02006E;
    border-radius: 4px;
    background-color: #46A9FA;
    height: 50px;
}

/* Contact Form Section */

#formelements {
    display: grid;
    row-gap: 0.5em;
    border: none;
    margin: 1em;
}

#contactform fieldset {
    border: 2px solid black;
}

input[type=text] {
    font-size: 15px;
    padding: 7px 7px;
    border: 1px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=text]:focus {
    background-color: lightgray;
  }

input[type=email] {
    font-size: 15px;
    padding: 7px 7px;
    border: 2px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=email]:focus {
    background-color: lightgray;
  }

input[type=tel] {
    font-size: 15px;
    padding: 7px 7px;
    border: 2px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=tel]:focus {
    background-color: lightgray;
  }

select[type=phonetype] {
    font-size: 15px;
    padding: 7px 7px;
    border: 2px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

#message {
    border: 2px solid #02006E;
    margin-right: 5px;
    resize: none;
    font-size: 15px;
}

#message:focus {
    background-color: lightgray;
  }

button[type=submit] {
    width: 100%;
    background-color: #4547F5;
    color: white;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: white;
    max-width: 500px;
    width: 50%;
    justify-self: center;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color:#02006E;
}

#contact #formelements fieldset {
    background-color:#36a58f;
    color: black;
    font-size: 17px;
}

#contact {
    color: 0D0D0D;
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    margin-bottom: 15px;
}

 #contact legend {
    font-size: 18px;
    background-color: #02006E;
    color: white;
    padding: 5px;
}
#contact div {
    background-color: #74a59b;
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px white;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact ul li {
    margin: 20px;
}

/* Footer Section */
footer {
    width: 100%;
    padding: 10px;
    background-color: #4547F5;
    border: 4px solid #cf2b4f;
    color: white;
    text-align: center;
}

/* Tablet Size Screen */
@media screen and (min-width: 960px) {
    figure {
        display: grid;
        grid-template-columns: 1fr;
    }
 
    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        margin-left: 1rem;
    }
 
    figure img {
        width: 100%;
    }
 

    #blog div {
        max-width: 100%;
        columns: 20rem;
    }
}
/* Large Screen Size */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    } 
}