body {
    font-family: Roboto;
    background-color: #2C8271;
    color: #02006E;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Quicksand";
    font-size: 45pt;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    font-size: 35pt;
    padding-bottom: 3px;
    margin: .1em;
}

header {
    text-align: center;
}

/* Introduction Section */
#introduction, footer {
    text-align: center;
    text-decoration: underline;
    background-color: #4547F5;
    border: 5px solid #cf2b4f;
    padding: 5px;
    overflow: auto;
}

#introduction img {
    width: 350px;
}

/* Bio Section */
#biography {
    text-align: center;
    font-size: 16px;
}

/* Hobbies Section*/ 
#hobbies {
    font-style: italic;
    background-image: linear-gradient(#46A9FA, #4547F5);
    border: 7px solid #348704;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 6px 6px #062E9C;
    
}

#hobbies ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    font-size: 18px;
    text-decoration: underline; 
}

/* Gallery Section */
#gallery {
    background-image: linear-gradient(#CF2B4F, #4547F5);
    border: 5px solid #02006E;
    border-radius: 5px; 
    box-shadow: 6px 6px #cf2b4f;
    margin-bottom: 20px;
}

#gallery figure {
    text-align: center;
    font-style: italic;
    border: 5px solid #cf2b4f;
    border-radius: 4px;
    background-image: radial-gradient(#CF2B4F, #4547F5);
    overflow: auto;
}

/* Literature Story Section */
#literature {
    background-image: linear-gradient(#348704, #4547F5);
    border: 6px solid #4547F5;
    border-radius: 5px;
    box-shadow: 6px 6px #02006E;
    margin-bottom: 20px;
}

#literature div {
    max-width: 580px;
    margin: 0 auto;
    font-weight: lighter;
    border: 5px double #02006E;
}

#literature div p:first-child::first-letter {
    color:#02006E;
    background-image:radial-gradient(#fff, #4547F5);
    float: left;
    font-size: 3em;
    padding: 0.25em;
    margin-right: 0.25em;
    line-height: 0.65;
    border: 4px outset #02006E;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-top-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;
}

/* Video Section */

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
}

#myvideo figcaption {
    text-align: center;
    margin-top: 10px;
    border: 2px solid #02006E;
    border-radius: 4px;
    background-image: radial-gradient(#46A9FA, #4547F5);
}

/* Contact Form Section */

#formelements {
    display: grid;
    row-gap: 0.5em;
    border: none;
    margin: 1em;
}

#contactform fieldset {
    border: 2px solid black;
}

input[type=text] {
    font-size: 15px;
    padding: 7px 7px;
    border: 1px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=text]:focus {
    background-color: lightgray;
  }

input[type=email] {
    font-size: 15px;
    padding: 7px 7px;
    border: 2px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=email]:focus {
    background-color: lightgray;
  }

input[type=tel] {
    font-size: 15px;
    padding: 7px 7px;
    border: 2px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
}

input[type=tel]:focus {
    background-color: lightgray;
  }

select[type=phonetype] {
    font-size: 15px;
    padding: 7px 7px;
    border: 2px solid #02006E;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}

input[type=radio] {
    cursor: pointer;
}

#message {
    border: 2px solid #02006E;
    margin-right: 5px;
    resize: none;
    font-size: 15px;
}

#message:focus {
    background-color: lightgray;
  }

button[type=submit] {
    width: 100%;
    background-color: #4547F5;
    color: white;
    padding: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border-color: white;
    max-width: 500px;
    width: 50%;
    justify-self: center;
    cursor: pointer;
}

button[type=submit]:hover {
    background-color:#02006E;
}

#contact #formelements fieldset {
    background-color:#2C8271;
    color: lightgray;
    font-size: 17px;
}

#contact {
    padding: 1rem;
    max-width: 600px;
    margin: 2rem auto;
    margin-bottom: 15px;
}

 #contact legend {
    font-size: 18px;
    background-color: #02006E;
    color: white;
    padding: 5px;
}
#contact div {
    background-image: linear-gradient(#36AA93,#062E9C);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 3px white;
}

#contact ul {
    list-style: none;
    padding: 0px;
}

#contact ul li {
    margin: 20px;
}

/* Tablet Size Screen */
@media screen and (min-width: 960px) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }

    #literature div {
        max-width: 100%;
        columns: 20rem;
    }
}
/* Large Screen Size */
@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    } 
}