body {
    font-family: Roboto;
    background-color: #2C8271;
    color: #02006E;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Quicksand";
    font-size: 45pt;
    text-align: center;
    padding-bottom: 10px;
}

h2 {
    font-size: 35pt;
    padding-bottom: 3px;
}

header {
    text-align: center;
}

/* Introduction Section */
#introduction, footer {
    text-align: center;
    text-decoration: underline;
    background-color: #4547F5;
    border: 5px solid #cf2b4f;
    padding: 5px;
    overflow: auto;
}

#introduction img {
    width: 350px;
}

/* Bio Section */
#biography {
    text-align: center;
    font-size: 16px;
}

/* Hobbies Section*/ 
#hobbies {
    font-style: italic;
    background-image: linear-gradient(#46A9FA, #4547F5);
    border: 7px solid #348704;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 6px 6px #062E9C;
    
}

ul {
    display: table;
    margin: auto;
    font-size: 18px;
    text-align: center;
    text-decoration: underline; 
}

/* Gallery Section */
#gallery {
    background-image: linear-gradient(#CF2B4F, #4547F5);
    border: 5px solid #02006E;
    border-radius: 5px; 
    box-shadow: 6px 6px #cf2b4f;
    margin-bottom: 20px;
}

#gallery figure {
    text-align: center;
    font-style: italic;
    border: 5px solid #cf2b4f;
    border-radius: 4px;
    background-image: radial-gradient(#CF2B4F, #4547F5);
    overflow: auto;
}